@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/HelveticaLt.eot"); /* IE9 Compat Modes */
  src: url("../fonts/HelveticaLt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaLt.otf") format("opentype"), /* Open Type Font */
    url("../fonts/HelveticaLt.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaLt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaLt.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaLt.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-UltraLight";
  src: url("../fonts/Helvetica25UltraLight22433.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Helvetica25UltraLight22433.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Helvetica25UltraLight22433.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Helvetica25UltraLight22433.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Helvetica25UltraLight22433.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Helvetica25UltraLight22433.woff") format("woff"), /* Modern Browsers */
    url(".s./fonts/Helvetica25UltraLight22433.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SharpGrotesk-light";
  src: url("../fonts/SharpGrotesk-light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SharpGrotesk-light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SharpGrotesk-light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SharpGrotesk-light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SharpGrotesk-light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SharpGrotesk-light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SharpGrotesk-light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}