
/*home-page*/
@media (max-width: 1000px){
  .start {
    margin-left: 650px;
  }
  .health {
    margin-left: 600px;
  }
  .box {
    margin-left: 700px;
  }
}
@media (max-width: 960px){
  .start {
    margin-left: 600px;
  }
  .health {
    margin-left: 550px;
  }
  .box {
    margin-left: 650px;
  }
}
@media (max-width: 900px){
  .start {
    margin-left: 500px;
  }
  .health {
    margin-left: 450px;
  }
  .box {
    margin-left: 550px;
  }
  .footer-logo {
    display: none;
  }
  .social a{
    justify-content: center;
  }
}
@media (max-width: 810px){
  .start {
    margin-left: 450px;
    font-size: 30px;
  }
  .health {
    margin-left: 400px;
    font-size: 45px;
  }
  .box {
    margin-left: 470px;
  }
}
@media (max-width: 730px){
  .start {
    margin-left: 400px;
    font-size: 25px;
  }
  .health {
    margin-left: 350px;
    font-size: 40px;
  }
  .box {
    margin-left: 410px;
  }
  .logo {
    width: 90px;
  }
}
@media (max-width: 650px){
  .start {
    margin-left: 350px;
  }
  .health {
    margin-left: 300px;
  }
  .box {
    margin-left: 370px;
  }
}
@media (max-width: 537px){
  .start {
    margin-left:220px;
    font-size: 20px;
  }
  .health {
    margin-left: 170px;
    font-size: 35px;
  }
  .box {
    margin-left: 230px;
    margin-top: 270px;
    width: 100px;
    height: 40px;
  }
  .join {
    font-size: 20px;
    white-space: nowrap;
    padding-left: 25px;
  }
  .bg-img {
    width: 413px;
  }
}
@media (max-width: 320px) {
  .bg-img {
    width: 450px;
    height: 580px;
    padding-top: 30px;
  }
}
/*register page*/
@media (max-width: 990px) {
  .btn {
	  margin-left: 720px;

}
@media (max-width: 990px) {
  h2{
  	font-size: 20px;
  }
  label {
  	font-size: 12px;
  }
  .contact-wraper {
  	max-width: 300px;
  	width:100%;
  	margin-left: 500px;
   }
  .btn {
	  margin-left: 570px;
   }
}
@media (max-width: 800px) {
  	.navigation {
  		display: none;
  	}
  	.burger {
  		display: flex;
      justify-content: center;
  		width: 50px;
      height: 30px;
      color: #285E70;
  	}
  .contact-wraper {
	   max-width: 300px;
	
   }
  	label {
  		font-size: 10px;
  	}
  	h2 {
  		font-size: 15px;
  	}
  }
    @media (max-width: 700px) {
	  .contact-wraper {
		margin-left: 350px;
	   }

}
@media (max-width: 750px) {
	    .btn {
	margin-left: 430px;
}
  	}
  	 @media (max-width: 560px) {

	  .contact-wraper {
		  margin-left: 200px;
	   }
	  .btn {
	    margin-left: 270px;
}
  	}
  	 @media (max-width: 360px) {
  	 	.bg-img {
  	 		position: none;
  	 		height: 300px;
  	 	}
    	.logo {
	  	width: 60px;
	    height: 26px;
	  }
	  .contact-wraper {
	  	margin-top: 20px;
		  margin-left: 150px;
	   }
	   .input-group {
	      height: 25px;
	      width: 200px;
  	}
}

    /*shop page*/
    @media  (max-width: 360px){
  h3 {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .article-box{
    display: flex;
    justify-content: space-between;
  }
}
@media  (min-width: 992px) and (max-width: 1200px) {
  .title-box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 1150px) {
  .article-box {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .my-article {
    margin-top: 50px;
  }

@media (max-width:600px) {
  h3 {
    padding: 0;
  }
  .articles {
    padding-bottom:  0;
  }
  .my-article {
    margin-bottom: 0;
  }
  .load {
    padding-top: 20px;
  }

}
@media (max-width: 375px) {
  .burger {
    display: flex;
    justify-content: flex-end;
  }
  .navigation {
    display: none;
  }
}
/*blog page*/
@media (max-width: 960px) {
  .article-img1 {
    max-width: 443px;
    width: 100%;
    height: 401px;
  }
  .article-img2 {
    max-width: 443px;
    width: 100%;
    height: 401px;
  }
  .article-img3 {
    max-width: 443px;
    width: 100%;
    height: 401px;
  }
  .last-section {
    height:412px;
  }
}
@media (max-width: 880px) {
  .text{
    margin: 50px 0 0 0;
  }
.read-it {
  display: none;
 }
}
@media (max-width: 837px) {
  .article-img1 {
    max-width: 350px;
    width: 100%;
    height: 300px;
  }
  .article-img2 {
    max-width: 350px;
    width: 100%;
    height: 300px;
  }
  .article-img3 {
    max-width: 350px;
    width: 100%;
    height: 300px;
  }
  .last-section {
    height:310px;
  }
  .text {
    font-size: 14px;
  }
}
@media (max-width: 730px) {
  @media (max-width: 837px) {
  .article-img1 {
    max-width: 250px;
    width: 100%;
    height:290px;
  }
  .article-img2 {
    max-width: 250px;
    width: 100%;
    height:290px;
  }
  .article-img3 {
    max-width: 250px;
    width: 100%;
    height:290px;
  }
  .last-section {
    height:300px;
  }
  .text {
    font-size: 14px;
  }
}
@media (max-width: 630px) {
  .article-img1 {
    display: none;
  }
  .article-img2 {
    display: none;
  }
  .article-img3 {
   display: none;
  }
  .last-section {
    height:300px;
  }
  .text {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  h3 {
    padding: 50px 0 30px 0
  }
  .blog-section:last-child{
    padding-bottom: 0;
 }
}
@media (max-width: 377px) {
  .text {
    font-size: 12px;
  }
}
/*contact page*/
@media (max-width: 734px) {
  .map {
    width: 500px;
    height: 300px;
 }
}
@media (max-width: 670px) {
  .map {
    width: 400px;
    height: 250px;
 }
}
@media (max-width: 515px) {
  .map {
    width: 350px;
    height: 250px;
 }
}
@media (max-width: 462px) {
  .map {
    padding-top: 30px;
    width: 360px;
    height: 250px;
 }
 .social-icons {
    position: absolute;
 }
 .info p{
    display: none;
 }
}
@media (max-width: 320px) {
  .map {
    width: 320px;
    height: 200px;
 }
 .social-icons {
    padding-top: 25px;
 }
}